{% extends "base.html" %}{% block content %}
<section class="content pt-5">
  <div class="container">
    <div class="row">
      <!-- Orders List -->
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-start">
          <div>
            <h2 class="mb-1">Orders</h2>
            <p class="text-secondary">
              <small>You can see list of all orders here</small>
            </p>
          </div>
          <a class="btn btn-primary btn-sm" href="{% url 'create-order' %}"
            >Create New Order</a
          >
        </div>
        <form>
          <h5>Filters</h5>
          <div class="row g-3">
            <div class="col">
              <select class="form-control">
                <option>-- Select Product --</option>
                <option>Product 1</option>
                <option>Product 2</option>
                <option>Product 3</option>
              </select>
            </div>
            <div class="col">
              <select class="form-control">
                <option>-- Select Status --</option>
                <option>Pending</option>
                <option>Out for Delivery</option>
                <option>Delivered</option>
              </select>
            </div>
            <div class="col">
              <button class="btn btn-primary">Search</button>
            </div>
          </div>
        </form>
        <table class="table custom_table mt-3">
          <thead>
            <tr>
              <th>Customer</th>
              <th>Product</th>
              <th>Category</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% if orders %} {% for order in orders %}
            <tr>
              <td><a href="{% url 'customer-detail' order.customer.id %}">{{order.customer.first_name}} {{order.customer.last_name}}</a></td>
              <td>{{order.product.title}}</td>
              <td>{{order.product.category}}</td>
              <td>{{order.status}}</td>
              <td>{{order.created_at}}</td>
              <td>
                <a href="{% url 'order-detail' order.id %}"><i class="fa-solid fa-eye"></i></a>&nbsp;&nbsp;
                <a href="{% url 'update-order' order.id %}"><i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;
                <a href="#"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="5">No orders right now</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>

{% endblock %}
