{% extends "base.html" %}{% block content %}
<section class="content pt-5">
    <div class="container">
      <div class="row">

        {% for message in messages %}
        <div class="col-md-12">
          <div class="mt-3 alert alert-warning alert-dismissible fade show" role="alert" id="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="height: 15px"></button>
          </div>
        </div>
        {% endfor %}

        <!-- Customers List -->
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h2 class="mb-1">Customers</h2>
              <p class="text-secondary">
                <small>You can see list of all customers here</small>
              </p>
            </div>
            <a class="btn btn-primary btn-sm" href="{% url 'add-customer' %}"
              >Add New Customer</a
            >
          </div>
          <table class="table custom_table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                {% for customer in page_obj %}
                <tr>
                    <td><a href="{% url 'customer-detail' customer.id %}">{{customer.first_name}} {{customer.last_name}}</a></td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.address}}</td>
                    <td>
                      <a href="{% url 'customer-detail' customer.id %}"><i class="fa-solid fa-eye"></i></a>&nbsp;&nbsp;
                      <a href="{% url 'update-customer' customer.id %}"><i class="fa-solid fa-pencil"></i></a>&nbsp;&nbsp;
                      <a href="#"><i class="fa-solid fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
          {% if customers.count > 5 %}
          <!-- Pagination -->
          <nav>
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}">Previous</a>
                </li>
                {% endif %}
  
                <li class="page-item active">
                    <span class="page-link">
                        {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </li>
  
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}">Last</a>
                </li>
                {% endif %}
            </ul>
        </nav>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}
