{% extends "base.html" %}{% block content %}{% load crispy_forms_tags %}
<section class="content pt-5">
  <div class="container">
    <div class="row">
      <!-- Customer Details -->
      <div class="col-md-4">
        <div class="card p-2">
          <div class="card-body">
            <h2 class="mb-3">{{customer.first_name}} {{customer.last_name}}</h2>
            <p><b style="font-weight:500">Email:</b> {{customer.email}}</p>
            <p><b style="font-weight:500">Phone:</b> {{customer.phone}}</p>
            <p><b style="font-weight:500">Address:</b> {{customer.address}}</p>
            <a href="{% url 'add-customer-order' customer.id %}" class="btn btn-primary btn-sm w-100"
              >Create Order</a
            >
            <a href="{% url 'update-customer' customer.id %}" class="btn btn-primary btn-sm w-100 mt-2"
              >Update Customer</a
            >
          </div>
        </div>
      </div>
      <!-- Customer Orders -->
      <div class="col-md-8">
        <h2 class="mb-1">Total Orders: 10</h2>
        <form method="GET" class="search_form">
          <h5>Filters</h5>
          <div class="row g-3">
            <div class="col">
              {{form.product|as_crispy_field}}
            </div>
            <div class="col">
              {{form.status|as_crispy_field}}
            </div>
            <div class="col">
              <button class="btn btn-primary">Search</button>
              <a href="{% url 'customer-detail' customer.id %}" class="btn btn-primary">Reset</a>
            </div>
          </div>
        </form>
        <table class="table custom_table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Status</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% if page_obj %}
            {% for order in page_obj %}
            <tr>
              <td>{{order.product.title}}</td>
              <td>{{order.status}}</td>
              <td>{{order.created_at}}</td>
              <td>
                <a href="{% url 'order-detail' order.id %}"><i class="fa-solid fa-eye"></i></a> &nbsp;
                <a href="{% url 'delete-order' order.id %}"><i class="fa-solid fa-trash"></i></a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="5">No orders for <b>{{customer.first_name}} {{customer.last_name}}</b> right now.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <!-- Pagination -->
        {% if orders.count > 5 %}
        <nav>
          <ul class="pagination justify-content-end">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page=1{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}"
                >First</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ page_obj.previous_page_number }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}"
                >Previous</a
              >
            </li>
            {% endif %}

            <li class="page-item active">
              <span class="page-link">
                {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
              </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ page_obj.next_page_number }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}"
                >Next</a
              >
            </li>
            <li class="page-item">
              <a
                class="page-link"
                href="?page={{ page_obj.paginator.num_pages }}{% if form.product.value %}&product={{ form.product.value }}{% endif %}{% if form.status.value %}&status={{ form.status.value }}{% endif %}"
                >Last</a
              >
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
